.edit-table{
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-spacing: 0.2rem;
    border-radius: 5rem;
  thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  td{
    text-align: left;
    padding: 0.5rem 0.7rem;
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  tbody tr:nth-of-type(even) {
    background-color: darkblue;
  }

   tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  th{
    padding: 0.5rem 0.7rem;
    text-align: left;
    cursor: pointer;
  }
  .sort-icon{
    font-size: 0.8rem;
    margin-left: 0.5rem;
    cursor: pointer;
  }
}